{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Welcome!</h1>
		<p class="lead">
			Here you can record and track your daily macros.
		</p>
		<p class="lead">Please first login to get started!</p>
		<h3>
			<a href="/food/add"><button class="btn btn-default btn-lg">Login</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="/static/img/FatPic.jpg" alt="Funny fat guy" />
	</div>
</div>
{% endblock %}