{% extends 'layouts/main.html' %}
{% block title %}Edit Food{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">{{food}}</h3>
      <div class="form-group">
        <label for='calories'>Calories</label>
            {{ form.calories(class_ = 'form-control', placeholder='Calories', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for='protein'>Protein</label>
            {{ form.protein(class_ = 'form-control', placeholder='Protein', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for='carbs'>Carbs</label>
            {{ form.carbs(class_ = 'form-control', placeholder='Carbs', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for='fats'>Fats</label>
            {{ form.fats(class_ = 'form-control', placeholder='Fats', autofocus = true) }}
      </div>
      <br>
      <input type="submit" value="Add Food" class="btn btn-primary btn-lg btn-block">
      {{ form.csrf_token() }}
    </form>
  </div>
{% endblock %}